@namespace xul url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Icons light/dark fix coloring hack filters */
:root {
  --icons-hack-filter: brightness(0) saturate(100%) invert(37%) sepia(8%)
    saturate(683%) hue-rotate(183deg) brightness(95%) contrast(84%);
  --window-icons-hack-filter: brightness(0) saturate(100%) invert(37%) sepia(8%)
    saturate(683%) hue-rotate(183deg) brightness(95%) contrast(84%);
}
@media (prefers-color-scheme: dark) {
  :root {
    --icons-hack-filter: brightness(0) saturate(100%) invert(94%) sepia(11%)
      saturate(362%) hue-rotate(184deg) brightness(95%) contrast(87%);
    --window-icons-hack-filter: brightness(0) saturate(100%) invert(94%)
      sepia(11%) saturate(362%) hue-rotate(184deg) brightness(95%) contrast(87%);
  }
}
@media not ((prefers-contrast) or (-moz-bool-pref: "browser.theme.native-theme")) {
  :root:not([lwtheme]) {
    --button-background-color-hover: light-dark(
      rgba(207, 207, 216, 0.11),
      rgba(207, 207, 216, 0.06)
    ) !important;
    --button-background-color-active: light-dark(
      rgb(207, 207, 216, 0.3),
      rgba(207, 207, 216, 0.12)
    ) !important;
  }
}

/* Top Left */
#reload-button {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerReload.svg") !important;
}
/* Address bar */
.urlbar-input-container[pageproxystate="valid"]
  > #tracking-protection-icon-container
  > #tracking-protection-icon-box {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerShield.svg") !important;
}
#identity-box[pageproxystate="valid"].verifiedDomain #identity-icon,
#identity-box[pageproxystate="valid"].mixedActiveBlocked #identity-icon {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerLock.svg") !important;
}
#pageAction-urlbar-_036a55b4-5e72-4d05-a06c-cba2dfcc134a_ {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerTextScan2.svg") !important;
}
#pageAction-panel-bookmark,
#star-button {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerStar.svg") !important;
}
#star-button[starred] {
  list-style-image: url("./icons/TablerStarFilled.svg") !important;
}

/* Top Right */
#downloads-button {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerDownload.svg") !important;
}
#unified-extensions-button {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerPuzzle.svg") !important;
}
#PanelUI-menu-button {
  filter: var(--icons-hack-filter) !important;
  list-style-image: url("./icons/TablerUserCircle.svg") !important;
}
