#tabbrowser-tabs {
  --tab-block-margin: 2.5px;
  --tab-selected-outline-color: #d0d0d0;
  --tab-min-height: 31px;
  --space-medium: calc(1 * var(--space-xsmall));;
}

sidebar-main[expanded] {
  width: 200px;
}
#tabbrowser-tabs[orient="vertical"], .tools-and-extensions, .bottom-actions {
  max-width: 196px;
}
sidebar-main:not([expanded]) {
  width: 64px;
}
.wrapper {
  padding-inline-start: 0 !important;
}

/* basic tab style */
sidebar-main[expanded] #tabbrowser-arrowscrollbox[orient="vertical"] {
  margin-left: 4px;
}

/* close button */
sidebar-main[expanded] > #vertical-tabs > #tabbrowser-tabs[orient="vertical"] .tab-close-button {
  display: block !important;
}
tabs:not([closebuttons="activetab"]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected], [labelendaligned]) {
  --tab-label-mask-size: 1em !important;
}

/* move new tab button to bottom */
sidebar-main #tabbrowser-tabs[orient="vertical"] {
  & #newtab-button-container {
    order: 3;
  }
} 
/* new tab button */
#newtab-button-container {
  min-height: var(--tab-min-height);
  margin-inline-start: 7px !important;
  padding-top: 0 !important;
  
  & #tabbrowser-tabs #vertical-tabs-newtab-button {
  padding: 0 8px !important;
  }
}

/* for pinned tabs */
sidebar-main[expanded] #tabbrowser-tabs .tab-content {
  justify-content: space-between;
}
#tabbrowser-tabs[orient="vertical"] {
  & #vertical-pinned-tabs-container {
    padding-inline-end: 0 !important;
  }
}

/* when not expanded */
sidebar-main:not([expanded]) > #vertical-tabs > #tabbrowser-tabs[orient="vertical"] {
  & .tabbrowser-tab {
    width: auto !important;
  }
  & :is(.tab-stack, #tabbrowser-arrowscrollbox-periphery) {
    margin: 0 3px;
  }
  & .tab-label-container {
    display: flex !important;
  }
  & .tabbrowser-tab:hover .tab-close-button {
    display: block !important;
  }}